@import url('../styles/global.css');

.forgot-password-container {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .forgot-password-form .form-group {
    margin-bottom: 15px;
    height: 70px;
  }
  
  .forgot-password-form label {
    display: block;
    margin-bottom: 5px;
  }
  
  .forgot-password-form input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border-radius: 5px;
    height: 40px;
  }

  .forgot-password-form input:focus {
    border: 3px solid var(--primary-blue);
    outline: none;
  }
  
  .forgot-password-button {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .forgot-password-button:hover {
    background-color: #0056b3;
  }

  .forgot-password-button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
  }

.message {
  margin-top: 15px;
  text-align: center;
  color: green;
}
